* {
  color: var(--fontColor);
  font-family: helvetica;
}
body {
  background: var(--bg);
}

ul {
  font-family: helvetica;
}

ul {
  color: #00ff00;
}

li {
  list-style: circle;
}
#list1 {
  list-style: square;
}

.light-theme {
  background-color: white;
  color: black;
}
:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
}
.dark-theme {
 background-color: black;
 color: white;
}

h1 {
  color: #00ff00;
}

h4 {
  color: #00ff00;
}
.btn {
  color: white;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: none;
}
.btn:focus {
  outline-style: none;
}
